body {
  background-color: #f3f4f9;
  background-image:
    radial-gradient(at 0% 0%, rgba(0, 166, 255, 0.5) 0px, transparent 90%),
    radial-gradient(at 100% 0%, rgba(180, 167, 236, 0.5) 0px, transparent 90%),
    radial-gradient(at 100% 100%, rgba(248, 199, 3, 0.1) 0px, transparent 90%),
    radial-gradient(at 0% 100%, rgba(150, 63, 243, 0.4) 0px, transparent 90%);
  min-height: 100vh;
}
